:root {
    --primary-color: #c25757ea;
    --secondary-color: #833c45;
    --tertiary-color: #ce60608a;
    --text-decoration-color: beige;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    color: var(--primary-color);
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  
  /* HEADER / NAV BAR STYLES START */
  
  header {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
  }
  
  header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .header {
    background-color: var(--tertiary-color)
  }
  
  header a {
    text-decoration: none;
    color: var(--primary-color);
  }
  
  header nav {
    margin: 7px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  header nav ul li a:hover {
    background: var(--tertiary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
  }
  
  /* HEADER / NAVBAR STYLES END */
  
  /* FOOTER STYLES START */
  footer {
    background: var(--tertiary-color);
    padding: 40px 35px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  
  footer h2 {
    color: var(--secondary-color);
    font-size: 30px;
    margin: 0;
  }
  
  footer div {
    line-height: 1.5;
    text-align: right;
    color: var(--text-decoration-color);
  }
  /* END FOOTER STYLES */
  
  /* STYLE ALL SECTION TAGS */
  section {
    padding: 60px;
  }
  
  /* SECTION TITLE STYLES START */
  .section-title {
    font-size: 48px;
    border-bottom: 3px solid;
    color: var(--secondary-color);
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
  }
  
  .primary-border {
    border-color: var(--primary-color);
  }
  
  .secondary-border {
    border-color: var(--tertiary-color);
  }
  /* SECTION TITLE STYLES END */
  
  /* ABOUT ME STYLES */

  .my-bio {
    justify-content: center;
    align-content: center;
  }
  img {
    height: 500px;
    display: inline-block;
    margin: 25px 10px;
  }

  .dariga {
    text-align: center;
    color: var(--text-decoration-color);
  }
  /* ABOUT ME STYLES END */
  
  
  /* PROJECTS STYLES START */
  .steps { 
    background: var(--tertiary-color);
    display: flex;
    flex-direction: column;
  }

  .project-container {
    display: flex;
    justify-content: space-around;
  }
  
  .project {
    height: 500px;
    width: auto;
  }

  #project1 {
    background-image: url(../images/run-buddy.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
  }

  #project2 {
    background-image: url(../images/horiseon.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
  }

  #project3 {
    background-image: url(../images/robot.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
  }

  #project4 {
    background-image: url(../images/password.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  
  /* Projects END */
  
  /* REACH OUT STYLES START */
  .bottompic {
    display: inline-block;
    height: 500px;
  }

  .contact {
    background: var(--tertiary-color);
  }
  
  .contact h2 {
    color: var(--primary-color);
  }
  
  .contact-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .contact-info > * {
    flex: 1;
    margin: 15px;
  }
  
  .contact-info iframe {
    height: 400px;
  }
  
  .contact-info div {
    color: var(--text-decoration-color);
  }
  
  .contact-info p, .contact-info address {
    margin: 20px 0;
    line-height: 1.5;
    font-size: 16px;
    font-style: normal;
  }
  
  .contact-info a {
    color: var(--text-decoration-color);
  }
  /* REACH OUT STYLES END */
  
  /* UTILITIES */
  .text-left {
    text-align: left;
  }
  
  .text-right {
    text-align: right;
  }
  
  .flex-row {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
  @media screen and (max-width: 980px) {
    header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
    }
  
    header h1 {
      width: 100%;
      text-align: center;
    }
  
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a {
      font-size: 20px;
    }
  
    footer h2, footer div {
      text-align: center;
      width: 100%;
    }
  
    .section-title {
      width: 80%;
    }
    
    .contact-info iframe{
      flex: 1 100%;
    }
  }
  
  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {
    section {
      padding: 30px 15px;
    }
  
    .step h3 {
      flex: 1 100%;
      text-align: center;
    }
  
    .step-info {
      flex: 2 100%;
      text-align: center;
      justify-content: center;
    }
  
    .step-img {
      flex: 0 32%;
      margin-right: 0;
      margin-top: 15px;
      margin-bottom: 15px;
    }
  
    .step-text {
      flex: 100%;  
    }
  }
  
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
  
    .section-title {
      width: 95%;
    }
  
    .intro p {
      width: 100%;
    }
  
    .contact-info {
      text-align: center;
    }
  
    .contact-info > * {
      flex: 0 100%;
    }
  }
  